<h3>Workout categories</h3>

<p>Pick a category you would like to focus on today:</p>

<ul>
  <% @workouts.each do |workout|%>
    <li><%= link_to "#{workout.name}", workout_path(workout)%></li>
  <% end %>
</ul>
