<h3>Popular Workout </h3>

<p>Here is a list of some of our most popular workouts:</p>

<ul>
  <% @workouts.each do |workout|%>
    <li><%= link_to "#{workout.name}", workout_path(workout)%></li>
  <% end %>
</ul>
