<div class="home-wrapper">
  <div class="home-container">
    <h1>Welcome to Fit Friend</h1><br>
    <h4><%= link_to "Workout Categories", categories_path %><h4><br>
    <h4><%= link_to "Current users", users_path%><br><h4>
  </div>
</div>




