<div class = 'panel margin-top opacity'>
  <h4><%= @category.name %></h4>
  <p>(Details of exercises and examples coming soon!)
  <ul>
    <% @category.exercises.each do |exercise|  %>
      <li><%= link_to "#{exercise.name}",exercise_path(exercise) %></li>
    <% end %>
  </ul>
  <%= link_to "Back to Categories", categories_path %>
</div>