<div class = 'panel margin-top opacity'>
  <h4><%= @exercise.name %></h4>

  <p>(Individual videos and walkthoughs coming soon!)</p>

  <ul>
    <%= @exercise.description %>
  </ul>

  <%= link_to "Back to Category", category_path(@category)%>
</div>
